*.iml
.gradle
*.iml
.idea/*
!.idea/copyright
!.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gstreamer-1.0-android-universal-1.24.2
/gstreamer-1.0-android-universal-1.24.2